@model MVCBlog.Models.Uye

@{
    ViewBag.Title = "UyeProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üye Profili</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="@Model.Foto" class="img-fluid rounded" width="75" alt="@Model.AdSoyad" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yetki.Yetki1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.Yetki1)
        </dd>
    </dl>
</div>
